.restaurants-section {
  h2 {
    color: #333333;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
  }

  .section-desc {
    font-size: 18px;
  }

  .bg-light-red {
    background-color: #eb8e78;
  }
}

@media (min-width: 768px) {
  .restaurants-section {
    h2 {
      font-size: 56px;
      line-height: 64px;
    }

    .section-desc {
      font-size: 22px;
    }
  }
}
