@mixin d-flex($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.contact-section {
  width: 100%;
  height: 400px;
  background-color: #5eae53;

  .contact-content {
    .form-wrapper {
      max-width: 600px;
      width: 100%;
    }

    .img-container {
      position: relative;
      max-width: 500px;
      width: 100%;
      .phone {
        z-index: 1;
        position: relative;
        width: 60%;
      }

      .phone-text {
        font-size: 30px;
        font-family: "Dancing Script", cursive;
        color: #fff;
        font-weight: 700;
        position: absolute;
        z-index: 10;
        left: 51px;
        top: 100px;
      }

      .pattern {
        position: absolute;
        top: 89px;
        right: 40px;
      }

      .dots {
        position: absolute;
        top: 89px;
        left: -78px;
      }
      .dots2 {
        position: absolute;
        top: 153px;
        left: -78px;
      }
    }
  }
}
