footer {
  background-color: #333333;
  color: #fff;
  z-index: 5;
  position: relative;
  .footer-nav {
    li {
      font-weight: 300;
      font-size: 18px;
    }
  }

  .copyright {
    color: rgba(255, 255, 255, 0.5);
  }
}
